<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create a New Game Server</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="5" size-xl="4">
        <form [formGroup]="createForm" (ngSubmit)="onCreateServer()">
          <ion-item>
            <ion-label position="floating">Game Name</ion-label>
            <ion-input formControlName="gameName" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Max Players</ion-label>
            <ion-input formControlName="maxPlayers" type="number" required min="2" max="10"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password (optional)</ion-label>
            <ion-input formControlName="password" type="password" ></ion-input>
          </ion-item>
          <div class="ion-text-center">
            <ion-button type="submit" expand="block" [disabled]="!createForm.valid">Create Server</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
