<ion-header>
  <ion-toolbar>
    <ion-title>
      Game: {{ gameName }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exitGame()">Exit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="player-info" *ngFor="let player of players">
          <ion-icon [name]="player.icon" [style.color]="player.color"></ion-icon>
          {{ player.name }} ({{ player.score }})
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <div class="game-board">
          <ion-grid>
            <ion-row *ngFor="let row of gameBoard; let rowIndex = index">
              <ion-col *ngFor="let cell of row; let colIndex = index" (click)="placeMolecule(rowIndex, colIndex)">
                <div class="cell" [ngClass]="{'captured': cell.owner}" [style.background-color]="cell.color">
                  {{ cell.count }}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
